
@charset "UTF-8";
:root {
  --star-size: 20px;
  --star-color: #ccc;
  --star-background: #fc0;
}
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars.right {
    float: right;
}
.Stars::before {
    content: "★★★★★";
    letter-spacing: -2px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.leadfinder-record {
  padding: 3px 5px;
  cursor: pointer;
}
.leadfinder-record:hover {
  background-color:#efefef;
}
  