
@charset "UTF-8";
:root {
  --star-size: 20px;
  --star-color: #ccc;
  --star-background: #fc0;
  --button-primary-color: #fff;
  --button-primary-bg-color: red;
}
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars.right {
    float: right;
}
.Stars::before {
    content: "★★★★★";
    letter-spacing: -2px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lf-icon-alert-modal {
  text-align: center;
  margin: 30px;
}
.lf-icon-alert-modal.lf-success {
  color: green;
}
.lf-icon-alert-modal.lf-error {
  color: red;
}
.lf-icon-alert-modal.lf-info {
  color: #1f48e4;
}
.lf-icon-alert-modal .lf-alert-icon {
  font-size: 5em;
  margin-bottom: 20px;
}
.lf-icon-alert-modal .lf-alert-message {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.lf-icon-alert-modal .lf-alert-subtext {
  color: #999;
  margin-top: 20px;
}
.lf-table {
  width: 100%;
  border: 1px solid #ccc;
}
.lf-table th, .lf-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.lf-record {
  padding: 13px 15px;
  border: 1px solid #e6e3e3;
  margin: 13px 0px;
  background-color: #fff;
}
.lead-finder-wrapper a {
  cursor: pointer;
}
a.lfNavItem {
  color: var(--nav-color);  
  background-color: var(--nav-background-color);          
}
a.lfNavItem:hover {
  color: var(--nav-color-hover);
  background-color: var(--nav-background-color-hover);
}
/* a.navItem {
  background-color: var(--nav-background-color);
}
a.navItem:hover {
  background-color: var(--nav-background-color-hover);
} */
/* .subnav a {
  color: var(--subnav-color);
  background-color: var(--subnav-background-color);
  border-radius: 15px;
  padding: 3px 10px; 
  font-size: 12px;
  font-weight: bold;
}
.subnav a:hover {
  color: var(--subnav-color-hover);
  background-color: var(--subnav-background-color-hover);
} */

/* .button {
  padding: 5px 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
}

.button.primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-bg-color);
} */